- name: Install mysql server
  ansible.builtin.package:
    name: mysql-server
    state: present

- name: Setting root password
  ansible.builtin.command: mysql_secure_installation --set-root-pass {{ MYSQLDB_PASS }}